In [37]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key2

In [38]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2021-05-26 00:17:06,19.7297,-155.0900,84.27,65,90,11.50
1,1,Longyearbyen,SJ,2021-05-26 00:20:47,78.2186,15.6401,30.04,74,75,18.41
2,2,Hobart,AU,2021-05-26 00:20:19,-42.8794,147.3294,55.26,69,75,4.00
3,3,Rikitea,PF,2021-05-26 00:20:47,-23.1203,-134.9692,77.27,78,68,15.05
4,4,Port Alfred,ZA,2021-05-26 00:20:48,-33.5906,26.8910,63.16,89,69,10.16

In [39]:
# To get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [40]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key2)

In [41]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [42]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False,max_intensity = 300,point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Humidity Heatmap

In [43]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap

In [44]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind_speed = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed,dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Percent Cloudiness heatmap

In [45]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [47]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2021-05-26 00:17:06,19.7297,-155.0900,84.27,65,90,11.50
3,3,Rikitea,PF,2021-05-26 00:20:47,-23.1203,-134.9692,77.27,78,68,15.05
5,5,Bengkulu,ID,2021-05-26 00:17:03,-3.8004,102.2655,77.76,84,78,2.84
9,9,Wasilla,US,2021-05-26 00:20:49,61.5814,-149.4394,75.65,23,1,5.75
17,17,Atuona,PF,2021-05-26 00:20:51,-9.8000,-139.0333,80.10,62,21,13.78
21,21,Palu,ID,2021-05-26 00:20:53,-0.8917,119.8707,82.02,81,91,2.21
24,24,Touros,BR,2021-05-26 00:20:54,-5.1989,-35.4608,76.10,84,55,11.25
25,25,Hithadhoo,MV,2021-05-26 00:20:54,-0.6000,73.0833,84.25,66,100,20.13
26,26,Salalah,OM,2021-05-26 00:20:55,17.0151,54.0924,82.49,78,20,2.30
33,33,Albany,US,2021-05-26 00:20:21,42.6001,-73.9662,75.72,63,99,5.39

In [27]:
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

### Get travel destinations

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0        Hilo      US     84.27  19.7297 -155.0900
3     Rikitea      PF     77.27 -23.1203 -134.9692
5    Bengkulu      ID     77.76  -3.8004  102.2655
9     Wasilla      US     75.65  61.5814 -149.4394
17     Atuona      PF     80.10  -9.8000 -139.0333
21       Palu      ID     82.02  -0.8917  119.8707
24     Touros      BR     76.10  -5.1989  -35.4608
25  Hithadhoo      MV     84.25  -0.6000   73.0833
26    Salalah      OM     82.49  17.0151   54.0924
33     Albany      US     75.72  42.6001  -73.9662

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key2
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found ....skipping.")
hotel_df.head(10)

Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.
Hotel not found ....skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,84.27,19.7297,-155.0900,Hilo Hawaiian Hotel
3,Rikitea,PF,77.27,-23.1203,-134.9692,Pension Maro'i
5,Bengkulu,ID,77.76,-3.8004,102.2655,Grage Hotel Bengkulu
9,Wasilla,US,75.65,61.5814,-149.4394,Alaska's Select Inn Wasilla
17,Atuona,PF,80.10,-9.8000,-139.0333,Villa Enata
21,Palu,ID,82.02,-0.8917,119.8707,Hotel Santika Palu
24,Touros,BR,76.10,-5.1989,-35.4608,INN NEW HORIZON
25,Hithadhoo,MV,84.25,-0.6000,73.0833,Scoop Guest House
26,Salalah,OM,82.49,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
33,Albany,US,75.72,42.6001,-73.9662,

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [50]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))